<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DrinkUp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="~/css/Main.css" rel="stylesheet" />
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light mdb-color darken-2 top-bar fixed">
            <a class="navbar-brand" href="#"><strong style="color:white">DrinkUp</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" href="#">home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" href="#">Our favorites</a>
                    </li>
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" href="#">Page Info</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <div>
        @RenderBody()
    </div>

    <footer class="page-footer font-small mdb-color darken-2 pt-4 mt-4">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left mt-3 pb-3">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">DrinkUp</h6>
                    <p>Explore and find your favorite drink</p>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Drinks</h6>
                    <p><a href="#!">High rated</a></p>
                    <p><a href="#!">Easy to make</a></p>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                    <p><a href="#!">Your Account</a></p>
                    <p><a href="#!">Info</a></p>
                </div>
                <hr class="w-100 clearfix d-md-none">
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p><i class="fa fa-home mr-3"></i> Malmo, Sweden</p>
                    <p><i class="fa fa-envelope mr-3"></i> DrinkUp@gmail.com</p>
                </div>
            </div>
            <hr>
            <div class="row py-3 d-flex align-items-center">
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
</body>

</html>
