<div class="text-center">
<img style="padding:50px; max-width: 100%; height:auto" src="https://www.thecocktaildb.com/images/media/drink/ojnpz71504793059.jpg" class="img-fluid" alt="Responsive image">
</div>